.badge-primary {
	background-color: #3276b1;
}
.badge-success {
	background-color: #47a447;
}
.badge-info {
	background-color: #39b3d7;
}
.badge-warning {
	background-color: #ed9c28;
}
.badge-danger {
	background-color: #d2322d;
}